html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
    color: #212121;
    font-family: Helvetica;
    font-size: 14px;
    /* prevent cut/copy/paste dialog and highlight on webkit */
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#container {
    position: absolute;
    top: 0px;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}

.full {
    position: absolute;
    width:100%;
    height:100%;
}

#game_viz {
    top:118px;
}

#tree_viz {
    /* position: absolute; */
}
